<div class="particles-container">
    <div class="particle" style="top: 90%; left: 20%; animation-duration: 8s;"></div>
    <div class="particle" style="top: 95%; left: 60%; animation-duration: 12s;"></div>
    <div class="particle" style="top: 85%; left: 80%; animation-duration: 10s;"></div>
    <div class="particle" style="top: 83%; left: 35%; animation-duration: 14s;"></div>
    <div class="particle" style="top: 80%; left: 5%; animation-duration: 9s;"></div>
    <div class="particle" style="top: 70%; left: 20%; animation-duration: 8s;"></div>
    <div class="particle" style="top: 65%; left: 60%; animation-duration: 12s;"></div>
    <div class="particle" style="top: 64%; left: 80%; animation-duration: 5s;"></div>
    <div class="particle" style="top: 61%; left: 35%; animation-duration: 17s;"></div>
    <div class="particle" style="top: 55%; left: 5%; animation-duration: 9s;"></div>
    <div class="particle" style="top: 52%; left: 20%; animation-duration: 8s;"></div>
    <div class="particle" style="top: 49%; left: 60%; animation-duration: 12s;"></div>
    <div class="particle" style="top: 47%; left: 80%; animation-duration: 10s;"></div>
    <div class="particle" style="top: 41%; left: 35%; animation-duration: 14s;"></div>
    <div class="particle" style="top: 40%; left: 5%; animation-duration: 9s;"></div>
    <div class="particle" style="top: 37%; left: 20%; animation-duration: 8s;"></div>
    <div class="particle" style="top: 33%; left: 60%; animation-duration: 12s;"></div>
    <div class="particle" style="top: 29%; left: 80%; animation-duration: 5s;"></div>
    <div class="particle" style="top: 24%; left: 35%; animation-duration: 17s;"></div>
    <div class="particle" style="top: 20%; left: 5%; animation-duration: 19s;"></div>
    <div class="particle" style="top: 17%; left: 5%; animation-duration: 13s;"></div>
    <div class="particle" style="top: 14%; left: 5%; animation-duration: 4s;"></div>
    <div class="particle" style="top: 10%; left: 5%; animation-duration: 8s;"></div>
    <div class="particle" style="top: 8%; left: 5%; animation-duration: 4s;"></div>
    <div class="particle" style="top: 4%; left: 5%; animation-duration: 12s;"></div>
    <div class="particle" style="top: 2%; left: 5%; animation-duration: 6s;"></div>
    <div class="particle" style="top: 1%; left: 5%; animation-duration: 4s;"></div>
</div>

<style>
.particles-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    pointer-events: none;
    overflow: hidden;
}

.particle {
    position: absolute;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 50%;
    opacity: 0.6;
    width: 4px;
    height: 4px;
    animation: floatParticle linear infinite;
}

@keyframes floatParticle {
    0% {
        transform: translateY(0) translateX(0);
        opacity: 0.6;
    }
    50% {
        opacity: 0.2;
    }
    100% {
        transform: translateY(-100vh) translateX(50vw);
        opacity: 0;
    }
}

/* Enhanced particle effects */
.particle:nth-child(3n) {
    background: rgba(102, 126, 234, 0.4);
    width: 3px;
    height: 3px;
}

.particle:nth-child(3n+1) {
    background: rgba(118, 75, 162, 0.4);
    width: 2px;
    height: 2px;
}

.particle:nth-child(5n) {
    background: rgba(255, 255, 255, 0.8);
    width: 1px;
    height: 1px;
}

/* Responsive particles */
@media (max-width: 768px) {
    .particles-container {
        display: none; /* Hide particles on mobile for better performance */
    }
}
</style>
